* {
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    margin: 0;
}

header {
    background-image: url('project-assets/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    flex-flow: column;
}

h1 {
    color: #355f4d;
    font-size: 5rem;
    margin: 60px 40px;
}

.instructions {
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    width: 90%;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

.form {
    display: flex;
    justify-content: center;
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    margin-top: 20px;
    width: 90%;
}

.inputContainer {
    display: flex;
    justify-content: space-around;
}

.inputBox {
    width: 150px;
    border-radius: 5px;
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.userInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 10px;
    font-size: 1.25rem;
}

#button {
    background-color: #355f4d;
    border-radius: 10px;
    border: #E0D8DE 2px solid;
    color: #E0D8DE;
    padding: 10px;
    transition: 0.3s;
}

#button:hover {
    background-color: #593837;
}

#gridContainer {
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    margin: 20px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#hide {
    display: none;
}

.grid-item {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px 20px;
}

div[data-hit ~= "1"] {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
}

div[data-hit ~= "0"] {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
}

