* {
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    margin: 0;
    background-image: url('project-assets/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
    background-size: cover;
    background-position: center bottom;
}

header {
    display: flex;
    align-items: center;
    flex-flow: column;
    min-height: 100vh;
}

h1 {
    color: #355f4d;
    font-size: 5rem;
    margin: 60px 40px;
}

.instructions {
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    width: 90%;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

.form {
    display: flex;
    justify-content: center;
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    margin:20px 0;
    width: 90%;
}

.inputContainer {
    display: flex;
    justify-content: space-around;
}

.inputBox {
    width: 150px;
    border-radius: 5px;
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.userInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 10px;
    font-size: 1.25rem;
}

#button {
    background-color: #355f4d;
    border-radius: 10px;
    border: #E0D8DE 2px solid;
    color: #E0D8DE;
    padding: 10px;
    transition: 0.3s;
}

#button:hover {
    background-color: #593837;
}

#gridContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section {
    display: none;
    flex-flow: column;
    background-color: rgba(224,216,222, 0.5);
    padding: 30px 40px;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
}

.gridItem {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px 20px;
}

div[data-hit ~= "1"] {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
}

div[data-hit ~= "0"] {
    background-image: url("project-assets/ren-ran-bBiuSdck8tU-unsplash.jpg");
}
div[data-hit ~= "2"]{
    color: transparent;
}

.endModalContent {
    display: none;
    width: 70%;
    height: 30%;
    border: 2px solid gray;
    text-align: center ;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #355f4d;
    color: #E0D8DE;
    border-radius: 10px;
    box-shadow:
            2.5px 2.5px 2.2px rgba(0, 0, 0, 0.039),
            6.1px 5.9px 5.3px rgba(0, 0, 0, 0.057),
            11.5px 11.1px 10px rgba(0, 0, 0, 0.07),
            20.5px 19.9px 17.9px rgba(0, 0, 0, 0.083),
            38.4px 37.2px 33.4px rgba(0, 0, 0, 0.101),
            92px 89px 80px rgba(0, 0, 0, 0.14)
;

}

.endModalContent button {
    background-color: #E0D8DE;
    border-radius: 10px;
    border: #355f4d 2px solid;
    color: #355f4d;
    padding: 10px;
    transition: 0.3s;
    margin-top: 30px;
    width: 50%;
    position: relative;
    bottom: 0;
}

.endModalContent button:hover {
    background-color: #593837;
    color: #E0D8DE;
    cursor: pointer;
}

.modal-blur {
    filter: none;
}

#gameTitle {
    text-align: center;
}

@media screen and (max-width: 640px) {
    .inputContainer {
        flex-flow: column;
    }
    .gridItem {
        height: 100px;
        width: 100px;
        margin: 5px 10px;
    }
    #gridContainer {
        padding: 20px 10px;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 3rem;
    }
    .endModalContent {
        height: 30%;
    }
    .endModalContent button {
        margin-top: 0;
    }
}

@media screen and (max-width: 410px) {
    .scoreMessage {
        font-size: 20px;
    }
}